$primary-normal: rgb(255, 221, 0);
$primary-dark: rgb(196, 100, 21);
$primary-light: rgb(179, 70, 6);

$black-normal: #06101e;
$black-dark: #040f1a;
$black-light: #0c2135;

$white-normal: #e9eef2;
$white-dark: #bbc2c9;
$white-light: #b7babd;

$blue-normal: #b2f1fb;
$blue-dark: rgb(4, 117, 143);
$blue-light: rgb(7, 98, 137);

$red-light: rgb(217, 10, 10);

$green-light: rgb(7, 175, 7);