* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alignItems {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.headerCalculation {
  padding: 1rem 0;
}

#keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0;
}

#keys button {
  color: #bbc2c9;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
}

#keys button:hover {
  filter: brightness(0.8);
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

#input {
  background-color: #e9eef2;
  border: 2px solid rgb(7, 98, 137);
  color: rgb(196, 100, 21);
  display: block;
  font-size: 1.75rem;
  margin: 0 auto;
  padding: 0.2rem;
  text-align: end;
  width: 100%;
  border-radius: 6px;
}

#clear {
  background-color: rgb(196, 100, 21);
  border-radius: 6px;
  border: 0;
}

#equal {
  background-color: rgb(196, 100, 21);
  border-radius: 6px;
  border: 0;
}

.container {
  top: 50%;
  left: 50%;
}

.charKey {
  background-color: rgb(7, 98, 137);
  color: #e9eef2;
  border: none;
  border-radius: 0.25rem;
  font-weight: 700;
  padding: 0.1rem 0.1rem;
  transition: 0.15s;
}

#copyToClipboard {
  background-color: transparent;
  border: solid rgb(4, 117, 143);
  border-width: 2px;
  border-radius: 0.5rem 0 0 0.5rem;
  color: rgb(7, 98, 137);
  cursor: pointer;
  display: block;
  height: 4.25rem;
  width: 6rem;
  font-size: 100%;
}

#result {
  background-color: #b7babd;
  color: rgb(179, 70, 6);
  font-size: 2rem;
  text-align: center;
  border-width: 2px 2px 2px 0;
  border-radius: 0 0.5rem 0.5rem 0;
  width: 100%;
  height: 68px;
}

.success {
  border-color: rgb(7, 175, 7) !important;
  color: rgb(7, 175, 7) !important;
}

.error {
  background-color: rgb(217, 10, 10) !important;
  color: #e9eef2 !important;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: rgb(7, 98, 137);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #e9eef2;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #b2f1fb;
}

.fa-sun {
  color: rgb(255, 221, 0);
}

body {
  text-align: center;
  justify-content: center;
  font-family: Ubuntu, sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #e9eef2;
  color: #06101e;
}

body.dark {
  background-color: #06101e;
  color: #e9eef2;
}

#main {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 45rem;
  position: relative;
  display: flex;
}

header {
  padding: 2rem 0;
}

@media (max-width: 768px) {
  #main {
    padding: 0 25%;
    font-size: 1rem;
  }
}
@media (min-width: 769px) {
  #main {
    max-width: 25rem;
  }
}/*# sourceMappingURL=style.css.map */